.siteHeader{
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
    position: absolute;
    z-index: 3;
    top: 90px;
    min-height: 50px;

    &__wrap{
        display: flex;
        align-content: center;
        justify-content: center;
        max-width: 900px;
        min-height: inherit;
        margin: 0 auto;
    }

    &__logo{
        width: 180px;
        min-height: inherit;
        position: relative;

        a{
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            outline: none;
            transition: ease .3s;

            &:hover{
                opacity: .8;
            }
        }
    }
    &__left,
    &__right{
        display: flex;
        align-items: center;
        width: calc(50% - 90px);
        min-height: inherit;

        &>div{
            width: 100%;
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            li{

                a{
                    font-size: 16px;
                    line-height: 1;
                    color: #fff;
                    text-transform: uppercase;
                    position: relative;
                    outline: none;
                    padding-bottom: 20px;
                    text-shadow: 1px 1px 1px #0000002b;

                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 1px;
                        bottom: 10px;
                        left: 0;
                        background-color: $brown_light;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                        z-index: 1;
                    }

                    &:before{
                        content: '';
                        width: 16px;
                        height: 16px;
                        border-radius: 100%;
                        border: 1px solid $brown;
                        position: absolute;
                        bottom: 2px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        z-index: 2;
                        opacity: 0;
                        transform: translate(0, 100%);
                        transition: ease .25s;
                    }

                    &:hover{
                        &:after{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                        &:before{
                            transform: translate(0, 0);
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .btnMobile{
            display: none;
            position: relative;
            width: 32px;
            height: 17px;
            transition: ease .3s;
            
            &:after{
                content: '';
                background-image: url('/wp-content/themes/northport/images/menuMobileBtn.svg');
                background-repeat: no-repeat;
                background-size: 32px;
                height: 17px;
                position: relative;
                display: block;
            }

            &:hover{
                opacity: .7;
            }
        }
    }
}
@media (max-width: 991px){
    .siteHeader{
        background-color: unset;

        &__wrap{
            padding: 0 20px;
        }
        &__left{
            width: calc(50% - 50px);

            .menu-menu-left-container{
                display: none;
            }
        }
        &__logo{
            width: 100px;
        }
        &__right{
            width: calc(50% - 50px);
            align-items: flex-start;
            justify-content: flex-end;

            .menu-menu-right-container{
                display: none;
            }
            .btnMobile{
                display: block;
            }
        }
    }
}
@media (max-width: 767px){
    .siteHeader{
        top: 15px;

        &__left,
        &__right{
            width: calc(50% - 25px);
        }
        &__logo{
            width: 50px;
        }
    }
}

.menuFloat{
    width: 100%;
    background-color: $blue;
    position: fixed;
    top: -60px;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 10px #0000007d;
    transition: ease .5s;

    &--scrolled{
        top: 0;
    }

    &__wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        margin: 0 auto;
        padding: 10px 0;
    }
    &__left,
    &__right{
        width: calc(100% / 2 - 75px);

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                position: relative;

                &:after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #bba589;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                    z-index: 1;
                }

                &.active,
                &:hover{
                    &:after{
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
                a{
                    font-size: 14px;
                    line-height: 1;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 1px #00000057;
                    color: #fff;
                    text-decoration: none;
                    letter-spacing: 2px;
                    transition: ease .3s;

                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
        .btnMobile{
            display: none;
            position: relative;
            width: 32px;
            height: 17px;
            transition: ease .3s;
            
            &:after{
                content: '';
                background-image: url('/wp-content/themes/northport/images/menuMobileBtn.svg');
                background-repeat: no-repeat;
                background-size: 32px;
                height: 17px;
                position: relative;
                display: block;
            }

            &:hover{
                opacity: .7;
            }
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
    }
}
@media (max-width: 991px){
    .menuFloat{
        &__wrap{
            justify-content: space-between;
            padding: 10px 20px;
        }
        &__left,
        &__right{
            ul{
                display: none;
            }
            .btnMobile{
                display: block;
                margin-left: auto;
            }
        }
    }
}

.menuMobile{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease .5s;

    &--ready{
        right: 0;
    }
    &--active{
        .menuMobile{
            &__wrap{
                opacity: 1;
            }
        }
    }

    &__close{
        width: 21px;
        height: 21px;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: ease .3s;

        &:hover{
            opacity: .7;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__wrap{
        opacity: 0;
        transition: ease .3s;

        .menu-menu-right-container{
            ul{
                li{
                    &:last-of-type{
                        margin: 0;
                    }
                }
            }
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;

            li{
                text-align: center;
                margin: 0 0 40px;

                a{
                    font-family: 'Portrait', sans-serif;
                    font-size: 28px;
                    line-height: 1;
                    text-transform: uppercase;
                    color: $brown;
                    padding: 0 15px 5px;
                    position: relative;
                    transition: ease .3s;

                    &:before{
                        content: '';
                        width: 0;
                        height: 1px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: $brown;
                        transition: ease .5s;
                    }

                    &:after{
                        content: '';
                        width: 16px;
                        height: 16px;
                        border-radius: 100%;
                        border: 1px solid $brown;
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -25px;
                        margin: 0 auto;
                        opacity: 0;
                        transition: ease .5s;
                    }

                    &:hover{
                        color: $blue;

                        &:before{
                            width: 100%;
                        }

                        &:after{
                            bottom: -7px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 575px){
    .menuMobile{
        &__wrap{
            ul{
                li{
                    margin: 0 0 25px;

                    a{
                        font-size: 18px;
                        padding: 0 15px 10px;
                    }
                }
            }
        }
    }
}