.siteFooter{
    height: 318px;
    display: flex;
    width: 100%;
    background-color: $blue;
    position: relative;

    &__wrap{
        height: inherit;
    }

    &__logo{
        display: block;
        width: 170px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        margin: 0 auto;
        z-index: 2;

        &--mobile{
            display: none;
        }
    }

    &__image{
        background-color: #2F416B;
        height: inherit;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 73%;
        position: absolute;
        z-index: 1;

        .view{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__info{
        height: inherit;
        background-color: $blue;
        display: flex;
        align-items: center;
        max-width: fit-content;
        max-width: -moz-max-content;
        max-width: -webkit-fit-content;
        margin-left: auto;
        position: relative;
        z-index: 2;
        padding: 23px;

        h2{
            font-size: 20px;
            line-height: 22px;
            font-weight: 500;
            color: $brown;
            text-align: left;
            margin: 0 0 10px;
            text-transform: uppercase;
            font-family: 'Portrait', sans-serif;
        }
        p{
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            margin: 0;

            &.address{
                margin: 20px 0;
            }
        }
        a{
            font-size: 16px;
            line-height: 20px;
            color: #fff !important;
            text-align: left;
            text-decoration: none;
            transition: ease .3s;

            &:hover{
                opacity: .5;
            }
        }
        .social{
            display: flex;
            align-items: center;
            margin-top: 20px;

            a{
                width: 32px;
                height: 32px;
                margin-right: 8px;
                cursor: pointer;
                transition: ease .3s;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &:hover{
                    opacity: .7;
                }
            }
        }
    }
}
@media (max-width: 991px){
    .siteFooter{
        &__logo{
            display: none;

            &--mobile{
                display: block;
                width: 170px;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 767px){
    .siteFooter{
        &__wrap{
            max-width: 100%;
            padding: 0;
        }
        &__image{
            width: calc(100% - 310px);
        }
        &__info{
            max-width: 310px;
        }
    }
}
@media (max-width: 575px){
    .siteFooter{
        height: 180px;

        &__logo{
            &--mobile{
                width: 73px;
            }
        }
        &__image{
            width: calc(100% - 220px);
        }
        &__info{
            max-width: 220px;

            h2{
                font-size: 10px;
                line-height: 13px;
            }
            p{
                font-size: 10px;
                line-height: 13px;

                &.address{
                    margin: 10px 0;
                }
            }
            a{
                font-size: 10px;
                line-height: 13px;
            }
            .social{
                margin: 10px 0 0;

                a{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}